{% extends 'base.html' %}

{% block content %}
{% load static %}

    <div style="color: #ffffff; font-family: 'Poppins', sans-serif; margin-top:9vh; text-align: center;">
        <h1 class="font-weight-bolder"> NontonKuy! </h1>
        <h6 class="mt-4">An excellent platform for you to know more about movies.</h6>
    </div>

    <form class="mt-3">
        <div class="form-group mx-sm-3 mb-2 d-flex justify-content-center px-3 ">    
            <div style="width: 560px;" class="position-relative">
                <input id="inputSearch" type="search" class="form-control rounded-pill" placeholder="Search..." >
                <i id="iconSearch" class="bi bi-search" style="position: absolute; right:12px; top: 7px;"></i>
            </div>
        </div>
    </form>

    <div class="container pt-5 pb-5 font" style="font-size: 12px;">
        <div id="kotakFilm" class="kotak" > 
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="{% static 'carifilm.js' %}" > </script>

</body>

</html>
{% endblock %}