body,html{
    margin : 0;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    background-image: url("bg4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

} 

.navbar { 
    font-family: 'Poppins', sans-serif;
}

.font{
    font-family: 'Poppins', sans-serif;
}

.form1{
    width: 30vh;
}


.kotak {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    gap: 1.4rem;
}

.kotak > div{
    height: 280px;
}

.poster{
    position: absolute;
    transition: background-color .5s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 7px ;
}

.ini{
    position: relative;
    display: flex;
    text-align: center;
    place-content: center
}

.ini:hover .poster{
    background-color: rgba(0, 0, 0, 0.603);
  }

.movieDetail{
    opacity: 0;
    position: absolute;
    bottom : 0;
    transition: bottom .5s;
    padding: 5px;
    color: white;
}

.ini:hover .movieDetail{
    opacity: 1;
    bottom : 80px;
}

.jarak{
    font-size: 20px;
    cursor: pointer;
}




